node_modules/
logs/

.env
.env.*
!.env.example

*.tsbuildinfo
coverage/

.DS_Store
Thumbs.db

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

*.tmp
*.temp
*.swp


# Package manager lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lock
bun.lockb